{% extends "base.html" %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<canvas id="basic_chart" width="1000" height="600" aria-label="Hello ARIA World" role="img"></canvas>
<style>
canvas {
    margin-left: auto;
    margin-right: auto;
}
</style>
<script>
const ctx = document.getElementById('basic_chart');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: {{ labels | safe }},
        datasets: [{
            label: {{ legend | safe }},
            data: {{ values | safe }},
            backgroundColor: [
                'rgb(250, 100, 130)',
            ],
        }]
    },
    options: {
        layout: {
            padding: {
                    left: 120,
                    right: 120
                      }
            },
            scales: {
                    y: {beginAtZero: true,

                        }
                    }
                }
});


</script>
{% endblock %}