{% extends "base.html" %}
{% block content %}

<table id="data" class="table table-striped" style="table-layout: fixed;word-wrap:break-word;">
    <thead>
        <tr>
            <th style="width:10%">{{ _('Complaint ID') }}</th>
            <th style="width:10%">{{ _('Order number') }}</th>
            <th style="width:10%">{{ _('Department') }}</th>
            <th style="width:10%">{{ _('Detection area') }}</th>
            <th style="width:10%">{{ _('Date') }}</th>
            <th style="width:10%">{{ _('Product type') }}</th>
            <th style="width:10%">{{ _('Model') }}</th>
            <th style="width:10%">{{ _('Cause') }}</th>
            <th style="width:40%">{{ _('Description') }}</th>
            <th style="width:10%">{{ _('Status') }}</th>
         </tr>
    </thead>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data_all_complaints',
        serverSide: true,
        columns: [
          {data: 'id'},
          {data: 'order_number'},
          {data: 'user_id'},
          {data: 'detection_area'},
          {data: 'timestamp'},
          {data: 'product_type'},
          {data: 'model'},
          {data: 'cause'},
          {data: 'description'},
          {data: 'complaint_status'},
        ],
      });
    });
</script>

{% endblock %}