{% extends "base.html" %}

{% block content %}

  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID zgłoszenia</th>
        <th>Zgłaszający</th>
        <th>Data zgłoszenia</th>
        <th>Numer zlecenia</th>
        <th>Obszar wykrycia</th>
        <th>Rodzaj</th>
        <th>Model</th>
        <th>Przyczyna</th>
        <th>Opis</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for registration in all_registrations %}
        <tr>
          <td>{{ registration.id }}</td>
          <td>{{ registration.user_name }}</td>
          <td>{{ moment(registration.timestamp).format('DD/MM/YY') }}</td>
          <td><a href="{{ registration.order_link }}">{{ registration.order_number }}</a></td>
          <td>{{ registration.detection_area }}</td>
          <td>{{ registration.product_type }}</td>
          <td>{{ registration.model }}</td>
          <td>{{ registration.cause }}</td>
          <td>{{ registration.description }}</td>
          <td>{{ registration.registration_status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}