{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Complaint ID</th>
        <th>Order number</th>
        <th>Department</th>
        <th>Detection area</th>
        <th>Date</th>
        <th>Product type</th>
        <th>Model</th>
        <th>Cause</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        serverSide: true,
        columns: [
          {data: 'id'},
          {data: 'order_number'},
          {data: 'user_id'},
          {data: 'detection_area'},
          {data: 'timestamp'},
          {data: 'product_type'},
          {data: 'model'},
          {data: 'cause'},
          {data: 'description'},
          {data: 'complaint_status'},
        ],
      });
    });
  </script>
{% endblock %}