{% extends "base.html" %}

{% block content %}
    <h1>Wszystkie zgłoszenia</h1>
    <hr>
    {% for registration in all_registrations %}
        <div><p>Zgłaszający: <b>{{ registration.user_id }}</b><br>
                ID zgłoszenia: <b>{{ registration.id }}</b><br>
                Numer zlecenia: <b>{{ registration.order_number }}</b><br>
                Obszar wykrycia: <b>{{ registration.detection_area }}</b><br>
                Rodzaj: <b>{{ registration.product_type }}</b><br>
                Model: <b>{{ registration.model }}</b><br>
                Przyczyna: <b>{{ registration.cause }}</b><br>
                Opis: <b>{{ registration.description }}</b>
            </p></div>
        <hr>
    {% endfor %}

{% endblock %}