{% extends "base.html" %}

{% block content %}
<style>
table, th, td {
  border:1px solid black;
}
</style>
<table id="data" class="table table-striped">
    <thead>
    <tr>
        <th>ID zgłoszenia</th>
        <th>Numer zlecenia</th>
        <th>Numer zlecenia</th>
        <th>Numer zlecenia</th>
        <th>Numer zlecenia</th>
        <th>Numer zlecenia</th>

    </tr>
    </thead>
    <tbody>
    {% for registration in all_registrations %}
    <tr>
        <td>{{ registration.id }}</td>
        <td>{{ registration.order_number }}</td>
        <td>{{ registration.order_number }}</td>
        <td>{{ registration.order_number }}</td>
        <td>{{ registration.order_number }}</td>
        <td>{{ registration.order_number }}</td>


    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}