<!DOCTYPE html>
<html>
<body>
{% block content %}


{% for data in report_data %}
    <h1> Internal complaint report ID {{ data.id }} </h1>
    <p>Order number: {{ data.order_number }}</p>
    <p>Department : ID{{ data.user_id }}</p>
    <p>Detection_area: {{ data.detection_area }}</p>
    <p>Date: {{ data.timestamp }}</p>
    <p>Product type: {{ data.product_type }}</p>
    <p>Model: {{ data.model }}</p>
    <p>Complaint cause: {{ data.cause }}</p>
    <p>Description: {{ data.description }}</p>
{% endfor %}
<p>Actions already performed:</p>
<p>...</p>
<p>...</p>
<p>...</p>
<p>Department chief signature:</p>
<p>...</p>
</body>
</html>
{% endblock %}


