<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
</head>

{% block content %}
{{ moment.include_moment() }}

<style>
table, th, td {
    table-layout: fixed;
    width: 550px;
    height: 50px;
    border:1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 20px;
    font-family:arial;
}
h1 {font-family:verdana}
td { word-wrap:break-word}
th {width: 350px}
</style>

<body>
<h1>{{ _('Internal complaint ID') }} {{ report_data.id }}</h1>

<table>
    <tr>
        <th>{{ _('Order number') }}:</th>
        <td>{{ report_data.order_number }}</td>
    </tr>
    <tr>
        <th>{{ _('Notifying department') }}:</th>
        <td>{{ report_data.user_id }}</td>
    </tr>
    <tr>
        <th>{{ _('Detection area') }}:</th>
        <td>{{ report_data.detection_area }}</td>
    </tr>
    <tr>
        <th>{{ _('Date of notification') }}:</th>
        <td>{{ moment(report_data.timestamp).format('DD/MM/YYYY') }}</td>
    </tr>
    <tr>
        <th>{{ _('Product type') }}:</th>
        <td>{{ report_data.product_type }}</td>
    </tr>
    <tr>
        <th>{{ _('Model') }}:</th>
        <td>{{ report_data.model }}</td>
    </tr>
    <tr>
        <th>{{ _('Complaint cause') }}:</th>
        <td>{{ report_data.cause }}</td>
    </tr>
    <tr>
        <th>{{ _('Description cause') }}:</th>
        <td>{{ report_data.description }}</td>
    </tr>
    <tr>
        <th>{{ _('Chief of the department signature') }}:</th>
        <td><br><br><br></td>
    </tr>
    <tr>
        <th>{{ _('Actions already performed') }}:</th>
        <td style="text-align: left;">...<br>...<br>...<br>...<br>...<br></td>
    </tr>
</table>
<p>{{ _('Remember to add a copy of the order') }}</p>
</body>
</html>
{% endblock %}

