<!DOCTYPE html>
<html>
{% block content %}

<style>
table, th, td {
  border:1px solid black;
  border-collapse: collapse;
  text-align: center
}

</style>
<body>

{% for data in report_data %}
<h2>Internal complaint report ID {{ data.id }}</h2>
<table style="width:50%">
    <tr>
        <th>Order number</th>
        <td>{{ data.order_number }}</td>
    </tr>
    <tr>
        <th>Notifying department:</th>
        <td>{{ data.user_id }}</td>
    </tr>
    <tr>
        <th>Detection area:</th>
        <td>{{ data.detection_area }}</td>
    </tr>
    <tr>
        <th>Date:</th>
        <td>{{ data.timestamp }}</td>
    </tr>
    <tr>
        <th>Product type:</th>
        <td>{{ data.product_type }}</td>
    </tr>
    <tr>
        <th>Model:</th>
        <td>{{ data.model }}</td>
    </tr>
    <tr>
        <th>Complaint cause:</th>
        <td>{{ data.cause }}</td>
    </tr>
    <tr>
        <th>Description cause:</th>
        <td>{{ data.description }}</td>
    </tr>
</table>
{% endfor %}

</body>
</html>
{% endblock %}

