{% extends "base.html" %}

{% block content %}
<style>
table, th, td {border:1px solid black;}

</style>
<body>

<h2>Zgłoszenia działu: {{ current_user.username }}</h2>

<table style="width:30%">
    <tr>
        <th>ID zgłoszenia</th>
        <th>Numer zlecenia</th>
        <th>Obszar wykrycia</th>
        <th>Rodzaj</th>
        <th>Model</th>
        <th>Przyczyna</th>
        <th>Opis</th>
        {% for registration in user_registrations %}
    </tr>
    <tr>
        <td>{{ registration.id }}</td>
    </tr>
    <tr>
        <td>{{ registration.order_number }}</td>
    </tr>
    <tr>
        <td>{{ registration.detection_area }}</td>
    </tr>
    <tr>
        <td>{{ registration.product_type }}</td>
    </tr>
    <tr>
        <td>{{ registration.model }}</td>
    </tr>
        <tr>
        <td>{{ registration.cause }}</td>
    </tr>
        <tr>
        <td>{{ registration.description }}</td>
    </tr>
        {% endfor %}
</table>
{% endblock %}