{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID zgłoszenia</th>
        <th>Data zgłoszenia</th>
        <th>Numer zlecenia</th>
        <th>Obszar wykrycia</th>
        <th>Rodzaj</th>
        <th>Model</th>
        <th>Przyczyna</th>
        <th>Opis</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for registration in user_registrations %}
        <tr>
          <td>{{ registration.id }}</td>
          <td>{{ registration.timestamp }}</td>
          <td><a href="{{ registration.order_link }}">{{ registration.order_number }}</a></td>
          <td>{{ registration.detection_area }}</td>
          <td>{{ registration.product_type }}</td>
          <td>{{ registration.model }}</td>
          <td>{{ registration.cause }}</td>
          <td>{{ registration.description }}</td>
          <td><a href="{{ url_for('change_status', reg_id=registration.id) }}">{{ registration.registration_status }}</a><br>
            <a href="{{ url_for('get_report', id_to_report=registration.id) }}">Raport</a>
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}