{% extends "base.html" %}

{% block content %}
    <h1>Zgłoszenia działu: {{ current_user.username }}</h1>
    <hr>
    {% for zgloszenie in zgloszenia %}
        <div><p>ID zgłoszenia: <b>{{ zgloszenie.id }}</b><br>
                Numer zlecenia: <b>{{ zgloszenie.order_number }}</b><br>
                Obszar wykrycia: <b>{{ zgloszenie.detection_area }}</b><br>
                Rodzaj: <b>{{ zgloszenie.product_type }}</b><br>
                Model: <b>{{ zgloszenie.model }}</b><br>
                Przyczyna: <b>{{ zgloszenie.cause }}</b><br>
                Opis: <b>{{ zgloszenie.description }}</b>
            </p></div>
        <hr>
    {% endfor %}

{% endblock %}