{% extends "base.html" %}

{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>ID zgłoszenia</th>
        <th>Data zgłoszenia</th>
        <th>Numer zlecenia</th>
        <th>Obszar wykrycia</th>
        <th>Rodzaj</th>
        <th>Model</th>
        <th>Przyczyna</th>
        <th>Opis</th>
      </tr>
    </thead>
    <tbody>
      {% for registration in user_registrations %}
        <tr>
          <td>{{ registration.id }}</td>
          <td>{{ moment(registration.timestamp).format('DD/MM/YY') }}</td>
          <td><a href="https://www.w3schools.com">{{ registration.order_link }}</a></td>
          <td>{{ registration.detection_area }}</td>
          <td>{{ registration.product_type }}</td>
          <td>{{ registration.model }}</td>
          <td>{{ registration.cause }}</td>
          <td>{{ registration.description }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}