{% extends "base.html" %}

{% block content %}
    <h1>Zgłoszenia działu: {{ current_user.username }}</h1>
    <hr>
    {% for registration in user_registrations %}
        <div><p>ID zgłoszenia: <b>{{ registration.id }}</b><br>
                Numer zlecenia: <b>{{ registration.order_number }}</b><br>
                Obszar wykrycia: <b>{{ registration.detection_area }}</b><br>
                Rodzaj: <b>{{ registration.product_type }}</b><br>
                Model: <b>{{ registration.model }}</b><br>
                Przyczyna: <b>{{ registration.cause }}</b><br>
                Opis: <b>{{ registration.description }}</b>
            </p></div>
        <hr>
    {% endfor %}
{% endblock %}