{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped" style="table-layout: fixed;word-wrap:break-word">
    <thead>
        <tr>
            <th style="width:10%">{{ _('Complaint ID') }}</th>
            <th style="width:10%">{{ _('Date') }}</th>
            <th style="width:10%">{{ _('Order number') }}</th>
            <th style="width:10%">{{ _('Detection area') }}</th>
            <th style="width:10%">{{ _('Product type') }}</th>
            <th style="width:10%">{{ _('Model') }}</th>
            <th style="width:10%">{{ _('Cause') }}</th>
            <th style="width:40%">{{ _('Description') }}</th>
            <th style="width:10%">{{ _('Status') }}</th>
        </tr>
    </thead>
    <tbody>
        {% for complaint in user_complaints %}
            <tr>
                <td>{{ complaint.id }}</td>
                <td>{{ moment(complaint.timestamp).format('DD/MM/YYYY') }}</td>
                <td><a href="{{ complaint.order_link }}">{{ complaint.order_number }}</a></td>
                <td>{{ complaint.detection_area }}</td>
                <td>{{ complaint.product_type }}</td>
                <td>{{ complaint.model }}</td>
                <td>{{ complaint.cause }}</td>
                <td>{{ complaint.description }}</td>
                <td><a href="{{ url_for('change_status', reg_id=complaint.id) }}">{{ complaint.complaint_status }}</a><br>
                    <a href="{{ url_for('get_report', id_to_report=complaint.id) }}">{{ _('Report') }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
